<!DOCTYPE html>
<html lang="en" style="font-size: 12px;">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./soothsaying.css">
</head>
<body>
  <div id="soothsaying">
    <div id="seconds">
      <div id="seconds-group">
      </div>
    </div>
    <div id="minute">
      <div id="minute-group">
      </div>
    </div>
    <div id="timer">
      <span class="date"></span>
      <span class="week"></span>
    </div>
  </div>
</body>
<script src="./soothsaying.js"></script>
</html>