.resume-table {
  table-layout: fixed;
  background-color: #fff; 
  color: #3b3b3b; 
  border: 1px solid #dadada; 
}
.table-header {
  height: 6px; 
  background-color: #788396; 
  font-size: 1px; 
  line-height: 6px;
}
.table-one {
  padding: 66px 33px 21px 40px; 
  color: #000; 
  line-height: 1;
}
.td-name {
  font-size: 14px; 
  line-height: 1.5;
  word-break: break-word; -webkit-font-smoothing: antialiased; 
  font-family: 'lucida Grande', Verdana, 'Microsoft YaHei';
  padding: 7px; 
}
.td-name .name {
  font-size: 34px;
  font-weight: bold;
  color: #374760;
  line-height: 1;
}
.td-name .side {
  font-size: 1px;
  height: 17px; 
  line-height: 17px;
}
.td-name .intro {

}
.top-right {
  padding: 35px 2px 20px 0px;
  text-align: center;
  line-height: 0;
}
/* 求职意向 */
.purpose {
  padding: 0 32px 30px;
  font-size: 14px;
  line-height: 1.5;
  word-break: break-word;
  -webkit-font-smoothing: antialiased;
  font-family: 'lucida Grande', Verdana, 'Microsoft YaHei';
}
.purpose-title {
  position: relative;
  padding: 7px 40px 6px 8px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  font-family: 'lucida Grande', Verdana, 'Microsoft YaHei';
}
.purpose-img {
  width: 24px;
  height: 24px;
  vertical-align: -5px;
  content: url(./assets/ico_t3CareerObjective_png8264f47.png); 
  _content: url(./assets/ico_t3CareerObjective_png8264f47.png);
}
.purpose-content {
  padding: 0 0 7px 40px;
  font-size: 14px;
  line-height: 1.5;
  word-break: break-word;
  -webkit-font-smoothing: antialiased;
  font-family: 'lucida Grande', Verdana, 'Microsoft YaHei';
}
/* 教育经历 */
.experience {
  position: relative;
  padding: 7px 40px 6px 8px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  font-family: 'lucida Grande', Verdana, 'Microsoft YaHei';
}
.experience-img {
  width: 24px;
  height: 24px;
  vertical-align: -5px;
  content: url(./assets/ico_t3EduExp_png8264f47.png); 
  _content: url(./assets/ico_t3EduExp_png8264f47.png);
}
/* 项目 */
.project {
  position: relative;
  padding: 7px 40px 6px 8px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  font-family: 'lucida Grande', Verdana, 'Microsoft YaHei';
}
.project-img {
  width: 24px;
  height: 24px;
  vertical-align: -5px; 
  content: url(./assets/ico_t3ProjectExp_png8264f47.png);
   _content: url(./assets/ico_t3ProjectExp_png8264f47.png);
}
.project-one {
  font-size: 14px;
  line-height: 1.5;
  word-break: break-word;
  -webkit-font-smoothing: antialiased;
  font-family: 'lucida Grande', Verdana, 'Microsoft YaHei';
}
.project-one-img {
  vertical-align: bottom;
  content: url(./assets/timeline_top20704c.png);
  _content: url(./assets/timeline_top_png820704c.png);
}
.project-one-top {
  padding: 0 0 0 4px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
  word-break: break-word;
  -webkit-font-smoothing: antialiased;
  font-family: 'lucida Grande', Verdana, 'Microsoft YaHei';
}
.project-two {
  padding: 5px 0 0 18px;
  border-left: 3px solid #e8e8e8;
  font-size: 14px;
  line-height: 1.5;
  word-break: break-word;
  -webkit-font-smoothing: antialiased; 
  font-family: 'lucida Grande', Verdana, 'Microsoft YaHei';
}
.project-three {
  padding-left: 66px;
  border-left: 3px solid #e8e8e8;
  font-size: 14px;
  line-height: 1.5;
  word-break: break-word;
  -webkit-font-smoothing: antialiased;
  font-family: 'lucida Grande', Verdana, 'Microsoft YaHei';
}
.project-three-img {
  vertical-align: top;
  content: url(./assets/timeline_mid26bfcd.png);
  _content: url(./assets/timeline_mid26bfcd.png);
}
.adsf {
  vertical-align: top;
  content: url(./assets/timeline_bottom_png820704c.png);
  _content: url(./assets/timeline_bottom_png820704c.png);
}
.project-three-content {
  padding: 5px 0 0 21px;
  font-size: 14px;
  line-height: 1.5;
  word-break: break-word;
  -webkit-font-smoothing: antialiased;
  font-family: 'lucida Grande', Verdana, 'Microsoft YaHei';
}
.skill {
  position: relative;
  padding: 7px 40px 6px 8px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  font-family: 'lucida Grande', Verdana, 'Microsoft YaHei';
}
object,
embed {
    -webkit-animation-duration: .001s;
    -webkit-animation-name: playerInserted;
    -ms-animation-duration: .001s;
    -ms-animation-name: playerInserted;
    -o-animation-duration: .001s;
    -o-animation-name: playerInserted;
    animation-duration: .001s;
    animation-name: playerInserted;
}

@-webkit-keyframes playerInserted {
    from {
        opacity: 0.99;
    }

    to {
        opacity: 1;
    }
}

@-ms-keyframes playerInserted {
    from {
        opacity: 0.99;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes playerInserted {
    from {
        opacity: 0.99;
    }

    to {
        opacity: 1;
    }
}

@keyframes playerInserted {
    from {
        opacity: 0.99;
    }

    to {
        opacity: 1;
    }
}