<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>网页转图片</title>
  <style>
    .pic {
      width: 100px;
      height: 100px;
      border: 1px solid pink;
      box-shadow: 1px 1px 1px 1px #f3f3f3;
      border-radius: 50%;
      text-align: center;
      line-height: 100px;
      font-size: 12px;
    }
  </style>
</head>
<body>
    <div class="pic">
      picutre
      <!-- <img width="100px" src="https://gss2.bdstatic.com/-fo3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike116%2C5%2C5%2C116%2C38/sign=9d5f84f83312b31bd361c57be7715d1f/03087bf40ad162d91c017aa31bdfa9ec8b13cda6.jpg" alt=""> -->
    </div>
    <a href="#" download="test.png" >download</a>
</body>
<script>
  function nodeToString ( node ) {
    var tmpNode = document.createElement( "div" );
    tmpNode.appendChild( node.cloneNode( true ) );
    var str = tmpNode.innerHTML;
    tmpNode = node = null; // prevent memory leaks in IE
    return str;
  }
  const canvas = document.createElement('canvas');
  let wth = 500,hgt=360;
  canvas.width = wth;
  canvas.height = hgt;
  document.body.appendChild(canvas);
  const ctx = canvas.getContext('2d');
  let params = '';
  const pic=document.getElementsByClassName('pic')[0];
  params = nodeToString(pic)
  console.log(params)
  // getComputedStyle  
  let data = `<svg xmlns='http://www.w3.org/2000/svg' width='200' height='200'>
             <foreignObject width='100%' height='100%'>
               <div xmlns='http://www.w3.org/1999/xhtml' style='font-size:40px'>
                ${params}
               </div>
             </foreignObject>
           </svg>`;
ctx.fillStyle = '#ddd';
ctx.fillRect(0, 0, wth, hgt);
var img = new Image();
var svg = new Blob([data], {type: "image/svg+xml;charset=utf-8"});
var url = window.URL.createObjectURL(svg);
img.crossOrigin = 'anonymous';
img.src = url;
img.onload = function() {
    window.URL.revokeObjectURL(url);
    ctx.drawImage(img, 0, 0);
    window.open(canvas.toDataURL('image/jpeg', 0.75));
}
var _fixType = function(type) {
    type = type.toLowerCase().replace(/jpg/i, 'jpeg');
    var r = type.match(/png|jpeg|bmp|gif/)[0];
    return 'image/' + r;
};

var type = 'png';
var imgData = canvas.toDataURL(type);
imgData = imgData.replace(_fixType(type),'image/octet-stream');

document.getElementsByTagName('a')[0].setAttribute('href',imgData)
</script>
</html>